{% extends 'app/pages/styleguide/layouts/template.html.twig' %}

{% block title %}Layouts{% endblock %}

{% block main_content %}
    <div class="main-content">

        <div class="styleguide-content-col">
            {% for i in 0..1 %}
                <section class="styleguide-section">
                    <div class="styleguide-section-title">Layout {{ i }}</div>
                    <div class="styleguide-section-content-row">
                        {% set components = [
                            {
                                name: "Horizontal Brut", textLink: "Aperçu", url: path('app_styleguide_layouts_layout', {num: i, position: "horizontal", type: "brut"}),
                                content: "Layout " ~ i ~ " horizontal brut"
                            },
                            {
                                name: "Vertical Brut", textLink: "Aperçu", url: path('app_styleguide_layouts_layout', {num: i, position: "vertical", type: "brut"}),
                                content: "Layout " ~ i ~ " vertical brut"
                            },
                            {
                                name: "Horizontal Custom", textLink: "Aperçu", url: path('app_styleguide_layouts_layout', {num: i, position: "horizontal", type: "custom"}),
                                content: "Layout " ~ i ~ " horizontal custom"
                            },
                            {
                                name: "Vertical Custom", textLink: "Aperçu", url: path('app_styleguide_layouts_layout', {num: i, position: "vertical", type: "custom"}),
                                content: "Layout " ~ i ~ " vertical custom"
                            },
                        ] %}

                        {% for elem in components %}
                            <div class="card card-0">
                                <div class="card-header">
                                    <div class="card-header-name">{{ elem.name }}</div>
                                </div>
                                <div class="card-body">{{ elem.content }}</div>
                                <div class="card-footer actions">
                                    <a href="{{ elem.url }}" class="txt-link txt-primary semibold">
                                        <span>{{ elem.textLink }}</span>
                                        <span class="icon-right-arrow"></span>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </section>
            {% endfor %}
        </div>

    </div>
{% endblock %}
